@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .gradient-background {
    background: linear-gradient(45deg, #f8fafc, #f8fafc);
  }

  .card-background {
    background: linear-gradient(45deg, #ffe6c9, #ffddd9);
  }

  .course-card-background {
    background: linear-gradient(45deg, #ffeceb, #ffffff);
  }
}
